
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_2 */
#startScreen_mobilebutton_2 {

}
.ui-btn.startScreen_mobilebutton_2 {

}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_6 */
.startScreen_mobilelabel_6 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 28px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegroupedbuttons_14 */
.ui-controlgroup.startScreen_mobilegroupedbuttons_14 {
	margin: 12px 0px 0px 0px;
}
.ui-controlgroup.startScreen_mobilegroupedbuttons_14 .ui-btn {
	margin: 0 -1px 0 0;
}
/* mobilebutton_15 */
#startScreen_mobilebutton_15 {

}
.ui-btn.startScreen_mobilebutton_15 {

}
/* mobilebutton_16 */
#startScreen_mobilebutton_16 {

}
.ui-btn.startScreen_mobilebutton_16 {

}
/* mobilebutton_17 */
#startScreen_mobilebutton_17 {

}
.ui-btn.startScreen_mobilebutton_17 {

}
/* mobilebutton_3 */
#startScreen_mobilebutton_3 {

}
.ui-btn.startScreen_mobilebutton_3 {
	margin: 14px 5px 4px 5px;
}
/* mobilelabel_18 */
.startScreen_mobilelabel_18 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 20px;
	margin: 14px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_19 */
.startScreen_mobilegrid_19 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_19_wrapper {

}
.startScreen_mobilegrid_19 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_19_row_0, .startScreen_mobilegrid_19_row_0 > td {
	height: 30px
}
.startScreen_mobilegrid_19_row_1, .startScreen_mobilegrid_19_row_1 > td {
	height: 30px
}
/* mobilegridcell_20 */
.startScreen_mobilegridcell_20 {
	height:30px !important;
	width:118px;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_20 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_29 */
.startScreen_mobilelabel_29 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_21 */
.startScreen_mobilegridcell_21 {
	height:30px !important;
	width:78px;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_28 */
.startScreen_mobilelabel_28 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_26 */
.startScreen_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_30 */
.startScreen_mobilelabel_30 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_22 */
.startScreen_mobilegridcell_22 {
	height:30px !important;
	width:118px;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_24 */
.startScreen_mobilelabel_24 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_23 */
.startScreen_mobilegridcell_23 {
	height:30px !important;
	width:78px;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_23 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* ShowDate */
.startScreen_ShowDate {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_27 */
.startScreen_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* TransportLabel */
.startScreen_TransportLabel {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}
/* mobilenavbar_9 */
.startScreen_mobilenavbar_9 {

}
.startScreen_mobilenavbar_9 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .startScreen_mobilenavbar_9 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .startScreen_mobilenavbar_9 ul li:last-child a {
	margin-right: -1px !important;
}
.startScreen_mobilenavbar_9 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/*
* CSS for TransportPopup generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.TransportPopup_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_4 */
.TransportPopup_mobilelabel_4 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* ShowInfo */
.TransportPopup_ShowInfo {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_2 */
#TransportPopup_mobilebutton_2 {

}
.ui-btn.TransportPopup_mobilebutton_2 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.TransportPopup_mobilefooter {
	min-height:38px;
}
/*
* CSS for NewRequest generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.NewRequest_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_4 */
.NewRequest_mobilegrid_4 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.NewRequest_mobilegrid_4_wrapper {

}
.NewRequest_mobilegrid_4 > tr > td {
	vertical-align: top;
}
.NewRequest_mobilegrid_4_row_0, .NewRequest_mobilegrid_4_row_0 > td {
	height: 30px
}
/* mobilegridcell_5 */
.NewRequest_mobilegridcell_5 {
	height:30px !important;
	width:162px;
	padding: 2px 2px 2px 2px;
}
.NewRequest_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_2 */
#NewRequest_mobilebutton_2 {

}
.ui-btn.NewRequest_mobilebutton_2 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_6 */
.NewRequest_mobilegridcell_6 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.NewRequest_mobilegridcell_6 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_9 */
#NewRequest_mobilebutton_9 {

}
.ui-btn.NewRequest_mobilebutton_9 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.NewRequest_mobilefooter {
	min-height:38px;
}
/*
* CSS for Transportation generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Transportation_mobilecontainer {
	padding: 10px 10px 10px 10px;
}
/* map */
.Transportation_map {
	width: 320px; height: 80px;
	margin: 0px 0px 0px 0px;
}
/* marker_16 */
.Transportation_marker_16 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilegrid_9 */
.Transportation_mobilegrid_9 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Transportation_mobilegrid_9_wrapper {

}
.Transportation_mobilegrid_9 > tr > td {
	vertical-align: top;
}
.Transportation_mobilegrid_9_row_0, .Transportation_mobilegrid_9_row_0 > td {
	height: 30px
}
.Transportation_mobilegrid_9_row_1, .Transportation_mobilegrid_9_row_1 > td {
	height: 30px
}
.Transportation_mobilegrid_9_row_2, .Transportation_mobilegrid_9_row_2 > td {
	height: 30px
}
.Transportation_mobilegrid_9_row_3, .Transportation_mobilegrid_9_row_3 > td {
	height: 30px
}
/* mobilegridcell_10 */
.Transportation_mobilegridcell_10 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_33 */
.Transportation_mobilelabel_33 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_11 */
.Transportation_mobilegridcell_11 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_11 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_19 */
.Transportation_mobiletextinput_19 {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_25 */
.Transportation_mobilegridcell_25 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_32 */
.Transportation_mobilelabel_32 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_26 */
.Transportation_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_31 */
.Transportation_mobiletextinput_31 {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_27 */
.Transportation_mobilegridcell_27 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_34 */
.Transportation_mobilelabel_34 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_28 */
.Transportation_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* DateInput */
.Transportation_DateInput {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_29 */
.Transportation_mobilegridcell_29 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_36 */
.Transportation_mobilelabel_36 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_30 */
.Transportation_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Transportation_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_37 */
.Transportation_mobiletextinput_37 {
	margin: 0px 0px 0px 0px;
}
/* mobilecheckboxgroup_40 */
.Transportation_mobilecheckboxgroup_40 {
	margin: 0px 0px 0px 0px;
}
/* mobilecheckbox_41 */
.Transportation_mobilecheckbox_41 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_44 */
.Transportation_mobilecheckbox_44 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_45 */
.Transportation_mobilecheckbox_45 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* TransportInfo */
.Transportation_TransportInfo {
	margin: 4px 0px 4px 0px;
}
/* ButtonSendRequest */
#Transportation_ButtonSendRequest {

}
.ui-btn.Transportation_ButtonSendRequest {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Transportation_mobilefooter {
	min-height:38px;
}
/*
* CSS for Success generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Success_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_2 */
.Success_mobilelabel_2 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 18px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_3 */
#Success_mobilebutton_3 {

}
.ui-btn.Success_mobilebutton_3 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Success_mobilefooter {
	min-height:38px;
}
/*
* CSS for ChildElder generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.ChildElder_mobilecontainer {
	padding: 10px 10px 10px 10px;
}
/* mobilegrid_9 */
.ChildElder_mobilegrid_9 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.ChildElder_mobilegrid_9_wrapper {

}
.ChildElder_mobilegrid_9 > tr > td {
	vertical-align: top;
}
.ChildElder_mobilegrid_9_row_0, .ChildElder_mobilegrid_9_row_0 > td {
	height: 30px
}
.ChildElder_mobilegrid_9_row_1, .ChildElder_mobilegrid_9_row_1 > td {
	height: 30px
}
/* mobilegridcell_10 */
.ChildElder_mobilegridcell_10 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.ChildElder_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_34 */
.ChildElder_mobilelabel_34 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_11 */
.ChildElder_mobilegridcell_11 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.ChildElder_mobilegridcell_11 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* DateInput */
.ChildElder_DateInput {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_25 */
.ChildElder_mobilegridcell_25 {
	height:30px !important;
	width:95px;
	padding: 0px 0px 0px 0px;
}
.ChildElder_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_36 */
.ChildElder_mobilelabel_36 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_26 */
.ChildElder_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.ChildElder_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_37 */
.ChildElder_mobiletextinput_37 {
	margin: 0px 0px 0px 0px;
}
/* ChildElderInfo */
.ChildElder_ChildElderInfo {
	margin: 4px 0px 4px 0px;
}
/* ButtonSendRequest */
#ChildElder_ButtonSendRequest {

}
.ui-btn.ChildElder_ButtonSendRequest {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.ChildElder_mobilefooter {
	min-height:38px;
}
/*
* CSS for Info generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Info_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_2 */
.Info_mobilelabel_2 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 36px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Info_mobilefooter {
	min-height:38px;
}
/*
* CSS for Sendemail generated by Exadel Appery
*/
/* mobilecontainer1 */
.ui-content.Sendemail_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* From */
.Sendemail_From {
	margin: 4px 0px 4px 0px;
}
/* To */
.Sendemail_To {
	margin: 4px 0px 4px 0px;
}
/* Subject */
.Sendemail_Subject {
	margin: 4px 0px 4px 0px;
}
/* Message */
.Sendemail_Message {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton2 */
#Sendemail_mobilebutton2 {

}
.ui-btn.Sendemail_mobilebutton2 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.Sendemail_mobilefooter1 {
	min-height:38px;
}
/*
* CSS for Groups generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Groups_mobilecontainer {
	padding: 10px 10px 10px 10px;
}
/* mobilelabel_3 */
.Groups_mobilelabel_3 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 26px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_37 */
.Groups_mobilegrid_37 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Groups_mobilegrid_37_wrapper {

}
.Groups_mobilegrid_37 > tr > td {
	vertical-align: top;
}
.Groups_mobilegrid_37_row_0, .Groups_mobilegrid_37_row_0 > td {
	height: 30px
}
/* mobilegridcell_38 */
.Groups_mobilegridcell_38 {
	height:30px !important;
	width:45px;
	padding: 2px 2px 2px 2px;
}
.Groups_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_23 */
#Groups_mobilebutton_23 {

}
.ui-btn.Groups_mobilebutton_23 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_39 */
.Groups_mobilegridcell_39 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_24 */
.Groups_mobilelabel_24 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobileimage_36 */
.Groups_mobileimage_36 {
	margin: 0px 0px 0px 0px;
	width: 300px; height: 4px;
	display: block;
}
/* mobilelabel_42 */
.Groups_mobilelabel_42 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_45 */
.Groups_Supporters_45 {
	margin: 0px 0px 0px 0px;
}
/* Supporters_45_mobilegrid_25 */
.Groups_Supporters_45_mobilegrid_25 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Groups_Supporters_45_mobilegrid_25_wrapper {

}
.Groups_Supporters_45_mobilegrid_25 > tr > td {
	vertical-align: top;
}
.Groups_Supporters_45_mobilegrid_25_row_0, .Groups_Supporters_45_mobilegrid_25_row_0 > td {
	height: 30px
}
.Groups_Supporters_45_mobilegrid_25_row_1, .Groups_Supporters_45_mobilegrid_25_row_1 > td {
	height: 30px
}
/* Supporters_45_mobilegridcell_26 */
.Groups_Supporters_45_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_45_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilebutton_9 */
#Groups_Supporters_45_mobilebutton_9 {

}
.ui-btn.Groups_Supporters_45_mobilebutton_9 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_45_mobilegridcell_27 */
.Groups_Supporters_45_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_45_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilebutton_10 */
#Groups_Supporters_45_mobilebutton_10 {

}
.ui-btn.Groups_Supporters_45_mobilebutton_10 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_45_mobilegridcell_30 */
.Groups_Supporters_45_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_45_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilebutton_17 */
#Groups_Supporters_45_mobilebutton_17 {

}
.ui-btn.Groups_Supporters_45_mobilebutton_17 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_45_mobilegridcell_31 */
.Groups_Supporters_45_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_45_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilebutton_18 */
#Groups_Supporters_45_mobilebutton_18 {

}
.ui-btn.Groups_Supporters_45_mobilebutton_18 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_45_mobilegridcell_28 */
.Groups_Supporters_45_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_45_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilelabel_19 */
.Groups_Supporters_45_mobilelabel_19 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_45_mobilegridcell_29 */
.Groups_Supporters_45_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_45_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilelabel_20 */
.Groups_Supporters_45_mobilelabel_20 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_45_mobilegridcell_32 */
.Groups_Supporters_45_mobilegridcell_32 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_45_mobilegridcell_32 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilelabel_21 */
.Groups_Supporters_45_mobilelabel_21 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_45_mobilegridcell_33 */
.Groups_Supporters_45_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_45_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_45_mobilelabel_22 */
.Groups_Supporters_45_mobilelabel_22 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobileimage_43 */
.Groups_mobileimage_43 {
	margin: 0px 0px 0px 0px;
	width: 300px; height: 4px;
	display: block;
}
/* mobilelabel_44 */
.Groups_mobilelabel_44 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_46 */
.Groups_Supporters_46 {
	margin: 0px 0px 0px 0px;
}
/* Supporters_46_mobilegrid_25 */
.Groups_Supporters_46_mobilegrid_25 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Groups_Supporters_46_mobilegrid_25_wrapper {

}
.Groups_Supporters_46_mobilegrid_25 > tr > td {
	vertical-align: top;
}
.Groups_Supporters_46_mobilegrid_25_row_0, .Groups_Supporters_46_mobilegrid_25_row_0 > td {
	height: 30px
}
.Groups_Supporters_46_mobilegrid_25_row_1, .Groups_Supporters_46_mobilegrid_25_row_1 > td {
	height: 30px
}
/* Supporters_46_mobilegridcell_26 */
.Groups_Supporters_46_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_46_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilebutton_9 */
#Groups_Supporters_46_mobilebutton_9 {

}
.ui-btn.Groups_Supporters_46_mobilebutton_9 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_46_mobilegridcell_27 */
.Groups_Supporters_46_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_46_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilebutton_10 */
#Groups_Supporters_46_mobilebutton_10 {

}
.ui-btn.Groups_Supporters_46_mobilebutton_10 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_46_mobilegridcell_30 */
.Groups_Supporters_46_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_46_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilebutton_17 */
#Groups_Supporters_46_mobilebutton_17 {

}
.ui-btn.Groups_Supporters_46_mobilebutton_17 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_46_mobilegridcell_31 */
.Groups_Supporters_46_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Groups_Supporters_46_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilebutton_18 */
#Groups_Supporters_46_mobilebutton_18 {

}
.ui-btn.Groups_Supporters_46_mobilebutton_18 {
	margin: 4px 5px 4px 5px;
}
/* Supporters_46_mobilegridcell_28 */
.Groups_Supporters_46_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_46_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilelabel_19 */
.Groups_Supporters_46_mobilelabel_19 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_46_mobilegridcell_29 */
.Groups_Supporters_46_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_46_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilelabel_20 */
.Groups_Supporters_46_mobilelabel_20 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_46_mobilegridcell_32 */
.Groups_Supporters_46_mobilegridcell_32 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_46_mobilegridcell_32 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilelabel_21 */
.Groups_Supporters_46_mobilelabel_21 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* Supporters_46_mobilegridcell_33 */
.Groups_Supporters_46_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Groups_Supporters_46_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Supporters_46_mobilelabel_22 */
.Groups_Supporters_46_mobilelabel_22 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_47 */
#Groups_mobilebutton_47 {

}
.ui-btn.Groups_mobilebutton_47 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Groups_mobilefooter {
	min-height:38px;
}
/*
* CSS for Profile generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Profile_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_3 */
.Profile_mobilegrid_3 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Profile_mobilegrid_3_wrapper {

}
.Profile_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.Profile_mobilegrid_3_row_0, .Profile_mobilegrid_3_row_0 > td {
	height: 30px
}
/* mobilegridcell_4 */
.Profile_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Profile_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_2 */
.Profile_mobileimage_2 {
	margin: 4px 0px 4px 0px;
	width: 99px; height: 131px;
	display: block;
}
/* mobilegridcell_5 */
.Profile_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Profile_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_8 */
#Profile_mobilebutton_8 {

}
.ui-btn.Profile_mobilebutton_8 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_9 */
.Profile_mobilelabel_9 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* AboutMeText */
.Profile_AboutMeText {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_12 */
#Profile_mobilebutton_12 {

}
.ui-btn.Profile_mobilebutton_12 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Profile_mobilefooter {
	min-height:38px;
}